{% extends 'base.html' %}
{% load static %}
{% block title %}403 Forbidden{% endblock %}

{% block css %}
{% endblock %}
{% block sidebar %}
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="{% url 'Hospital:dashboard' %}" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Index Page
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-procedures"></i>
                <p>
                    Patients
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview ">
                <li class="nav-item">
                    <a href="{% url 'Hospital:list' %}" class="nav-link">
                        <i class="nav-icon fas fa-align-left"></i>
                        <p>病人列表</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Hospital:filter' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>群体筛选</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Hospital:insert' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>新增病人</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-clinic-medical"></i>
                <p>
                    Hospital
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'Hospital:hospital' %}" class="nav-link">
                        <i class="nav-icon far fas fa-address-card"></i>
                        <p>医院信息</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="{% url 'Hospital:dashboard' %}">Index</a></li>
    <li class="breadcrumb-item active">403 Error Page</li>

{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-danger">403</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

                <p>
                    Sorry, you don't have permission to access / on this server.
                    You can <a href="{% url 'Hospital:dashboard' %}">return to dashboard</a> or <a
                        href="{% url 'Hospital:list' %}">see all the patients</a> in MIMIC.
                </p>
                <form class="search-form" action="{% url 'Hospital:do_select' %}" method="POST">{% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="subject_id" class="form-control" placeholder="Search Patient">

                        <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
        </div>
        <!-- /.error-page -->

    </section>
{% endblock %}

{% block script %}

    <script src="{% static 'AdminLTE-3.0.4/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE-3.0.4/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'AdminLTE-3.0.4/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'AdminLTE-3.0.4/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'AdminLTE-3.0.4\plugins\datatables\jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'AdminLTE-3.0.4\plugins\datatables-bs4\js\dataTables.bootstrap4.min.js' %}"></script>


{% endblock %}
